.jumbotron {
    box-shadow: 5px 5px 7px 0px rgba(71, 71, 71, 0.83);
    background-image: url("../../utils/images/futuristicLibrary.jpg");
    background-size: cover;
    height: 500px;
    background-position: center;
}

.myText {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 56px;
    position: relative;
    transform: translateY(100px);
    text-shadow: 1px 1px black;
}